django>=2.0,<2.1
djangorestframework>=3.8,<3.9

django-environ
Pillow
psycopg2
pytz
django-extensions
Werkzeug
django-debug-toolbar
ipdb

pylama

invoke

pip-tools

pytest
pytest-django
pytest-cov
pytest-mock

